<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4 mt-4">


     <h3> About Us</h3>

<p>Welcome to Health Care, your trusted companion for personalized healthcare and medicine recommendations. Our platform is designed to simplify your healthcare journey by connecting symptoms to reliable medical advice and treatments, ensuring you receive the right guidance at the right time
</p>
<h3>Our Mission</h3>

<p>To empower individuals with accurate, accessible, and personalized healthcare solutions through innovative technology.</p>
<h3>Who I Am
</h3>
<p>I am student of Btech in field of data science</p>
<h3>What We Offer</h3>

<p>Symptom Analysis: Input your symptoms to receive precise insights about potential conditions.
  Medicine Recommendations: Get tailored suggestions for over-the-counter (OTC) and prescription medications, supported by medical guidelines.
  Preventive Tips: Learn about lifestyle changes and preventive measures to improve your overall well-being.
  Health Education: Access a wealth of resources about diseases, treatments, and wellness to make informed decisions.</p>

<p>Thank you for choosing as your trusted health companion. We are here to empower you with knowledge, support, and a brighter, healthier future.
</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>